<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {% if messages %}
    {% for message in messages %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Usuário:</label>
        <input type="text" name="username" required><br>
        <label>Senha:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Entrar</button>
    </form>

    <p>Não tem conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
</body>

</html>